//------------------
// 媒体查询 for 640 or 750
//------------------

//config里没有设置的话就用如下变量
$output: 640 !default;
$dpr: false !default;

@import "../config";

@mixin htmlFont($px) {
	html {
		font-size: $px;
	}
	@if $dpr {
		html[data-dpr="2"] {
			font-size: $px * 2;
		}
		html[data-dpr="3"] {
			font-size: $px * 3;
		}
	}
}

//根据屏幕尺寸转换字体值!
@function conver2px($clientWidth) {
	@if $output == 640 {
		@return (20 * (($clientWidth + 1) / 320));
	}
	@if $output == 750 {
		@return $clientWidth / 10;
	}
	@warn "error $output not 640 or 750";
	@return $clientWidth / 10;
}

/**
 * 213px显示屏样式 LG Optimus One
 * 320px显示屏样式 苹果4/4S/5C/5S黑莓Z30
 * 360px显示屏样式 索尼Z1
 * 384px显示屏样式 黑莓Z10 谷歌 Nexus 6 LG Optimus G
 * 399px显示屏样式 三星galaxyNote
 * 414px显示屏样式 苹果6plus
 * 424px显示屏样式 LG 4X
 * 480px显示屏样式 索尼MT27i Xperia sola
 * 640px显示屏样式 摩托罗拉Droid3/4/Razr Atrix 4g
 * 640px显示屏样式
 * 640px以上显示屏样式
 */
$screens: 212px, 319px, 359px, 383px, 399px, 414px, 423px, 479px, 539px, 639px, 640px;
@each $width in $screens {
	@media screen and (min-width:$width) {
		@include htmlFont(conver2px($width));
	}
}

//兼容iphone5
@media only screen and (min-device-width:320px) and (max-device-width:568px) {
	@if $output == 640 {
		@include htmlFont(20px);
	}
	@if $output == 750 {
		@include htmlFont(32px); //750
	}
}

//兼容iphone 6
@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2) {
	@if $output == 640 {
		@include htmlFont(23.4375px);
	}
	@if $output == 750 {
		@include htmlFont(37.5px); //750
	}
}

//兼容iphone6 plus
@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0) {
	@if $output == 640 {
		@include htmlFont(25.875px);
	}
	@if $output == 750 {
		@include htmlFont(41.4px); //750
	}
}