/**
 * sass 配置文件
 * --------------------
 * 解决问题:
 *   1. 根据端的不同，reset样式也会不同
 *   2. 自动计算输出rem单位
 * 应用场景:
 *   设计稿为750px，页面引用了src/js/lib/rem640.js，变量设置如下：
 *   $design: 750
 *   $output: 640
 */

// used by media.scss
$dpr: false; //是否使用dpr  @true： media中自带dpr  common中会有f12 f14...等样式

// used by reset.scss
$device: 'wap';		//设置reset.css项目重置方案，wap为移动端重置样式

// used by rem.scss
$isPX: false; 		//是否输出px单位
$design: 750; 		//设计稿尺寸

/**
 * 输出尺寸，需与js脚本对应
 * 若想输出640尺寸的rem值，html内需引用src/js/lib/rem640.js
 * 若想输出750尺寸的rem值，html内需引用src/js/lib/rem750.js
 */
$output: 750;      